.container {
  display: flex;
  width: 600px;
  height: 300px;
  background-color: antiquewhite;
  flex-direction: row;
  /* justify-content  주축 item의 정렬 방법 / 배치 방법 */
  /* justify-content: flex-start(default) -> 아이템을 start 지점을 비중르로 나열
  /* justify-content: flex-end/ space-between/space-evenly->  */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  /* align-items: 교차죽에 대해 item을 어덯게 배치할 것인가 */
  /* align-item: stetch;(default)-> container의 교차축을 모두 채우기 위해 늘림
  -> 아이템 높이/너비가 지정되지 않았을때 찯동으로 교차죽을 채욱기 위해 늘어남
  -> align-items: flex-start; 교차축의 끝점으로 정렬
    -> align-items: center; -> 교차축의 중아에 정렬 
   */
  /* align-items: baseline; */
  align-content: center;
}
.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}
.item1 {
  background-color: gold;
  /* font-size: 20px; */
}
.item2 {
  background-color: plum;
  /* font-size: 30px; */
}
.item3 {
  background-color: burlywood;
}
.item4 {
  background-color: palevioletred;
}
.item5 {
  background-color: mediumaquamarine;
}
