body {
  margin: 2px;
  padding: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  font-size: 19px;
}
.logo a {
  text-decoration: none;
  color: rgb(67, 137, 67);
}
.header {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 65px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.menu-left {
  display: flex;
  align-items: center; /* Align menu items vertically */
  justify-content: space-between;
}
.menu-left .menu {
  display: flex;
  justify-content: space-between;
}

.menu-right {
  display: flex;
  width: 20%;
  align-items: center; /* Align menu items vertically */
  justify-content: space-between;
}

.menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

.menu li {
  list-style-type: none;
  justify-content: center;
}

.menu a:hover {
  color: #46bc60;
  border-radius: 5px;
}
.header__search {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid;
  background-color: #f6f6f6;
  padding: 2px;
  border-radius: 5px;
  /* flex: 1; */
}
.header__search > input {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  height: 40px;
  width: 150px;
  color: #363636;
  padding: 5px;
  /* width: auto; */
}
.fa-solid fa-magnifying-glass i {
  position: absolute;
  background-color: #f6f6f6;
  tranform: translateY(-50%);
  right: 20px;
  top: 20%;
}
.header__search:hover {
  border-color: green;
}
.header__search:focus {
  outline-color: green;
}
.btn {
  border: 1px solid rgb(186, 181, 181);
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 40px;
}
.btn--white {
  color: gray;
}

.btn--red {
  background-color: rgb(248, 113, 113);
  color: white;
}
.header__search > input:hover {
  background-color: white;
}
