div {
  height: 500px;
  width: 500px;
  background-color: mediumseagreen;
  margin: 0;
  padding: 0;
  /* position: relative; */
}
.item1 {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.item2 {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: violet;
  border-radius: 50%;
  top: 30px;
  left: 30px;
  z-index: 2;
}
.item3 {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: orange;
  border-radius: 50%;
  top: 60px;
  left: 60px;
  z-index: 1;
}
